* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    height: 17vh;
    background: grey;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.content {
    height: 100vh;
    background: grey;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.child1 {
    flex: 1;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child2 {
    flex: 1;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
}

.Logo {
    background-color: darkcyan;
    flex: 1;
}

.TagLine {
    background-color: darkolivegreen;
    flex: 1;
}

.Login {
    background-color: orange;
    flex: 1;
}

.card {
    background-color: white;
    height: 400px;
    width: 300px;
    margin: auto;
    box-shadow: black 10px 10px 10px;
}