@media (max-width: 600px) {
    .userCards {
        flex-direction: column;
        flex-wrap: wrap;
        height: 180vh;
    }

    .top {
        flex-direction: column;
        height: 30vh;
    }

    .TagLine {
        display: none
    }


    .cardArea1 {

    }

    .cardArea2 {

    }

    .cardArea3 {

    }

}

@media (min-width: 600px) {
    .userCards {
        flex-direction: row;
        height: 70vh;
        justify-content: space-evenly;
    }

    .top {
        flex-direction: row;
        flex-wrap: nowrap;
        height: 17vh;
    }

    .cardArea1 {
        width: 500px;
    }

    .cardArea2 {
        width: 500px;
    }

    .cardArea3 {
        width: 500px;
    }

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    background: grey;
    position: relative;
    display: flex;
}

.content {
    height: 100vh;
    background: grey;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.userCards {
    flex: 1;
    background-color: #dbb0b0;
    display: flex;
}

.cardArea1 {
    height: 600px;
    background-color: #e981e9;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.cardArea2 {
    height: 600px;
    background-color: #dd81dd;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.cardArea3 {
    height: 600px;
    background-color: #c36cc3;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.Logo {
    background-color: #54b5b5;
    flex: 1;

}

.TagLine {
    background-color: #62bebe;
    flex: 1;
}

.Login {
    background-color: #5fcfcf;
    flex: 1;
}


.card {
    background-color: white;
    height: 400px;
    width: 300px;
    margin: auto;
    box-shadow: black 10px 10px 10px;
}

.googleFontText {
    font-size: x-large;
    font-family: "Architects Daughter", serif;
    text-align: center;
    text-transform: uppercase;
    color: #454545;
}