@media (max-width: 1000px) {
    .userCards {
        flex-direction: column;
        height: 180vh;
    }
}

@media (min-width: 1000px) {
    .userCards {
        flex-direction: row;
        height: 70vh;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    height: 17vh;
    background: grey;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.content {
    height: 100vh;
    background: grey;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.userCards {
    flex: 1;
    background-color: #dbb0b0;
    display: flex;
}

.cardArea1 {
    width: 500px;
    height: 800px;
    background-color: aquamarine;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.cardArea2 {
    width: 500px;
    height: 800px;
    background-color: gold;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.cardArea3 {
    width: 500px;
    height: 800px;
    background-color: purple;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.topRow {
    flex: 1;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
}

.Logo {
    background-color: darkcyan;
    flex: 1;
}

.TagLine {
    background-color: darkolivegreen;
    flex: 1;
}

.Login {
    background-color: orange;
    flex: 1;
}


.card {
    background-color: white;
    height: 400px;
    width: 300px;
    margin: auto;
    box-shadow: black 10px 10px 10px;
}