@media (max-width: 600px) {

    .top {
        flex-direction: column;
        height: 17vh;
    }

    .TagLine {
        display: none
    }
}

@media (min-width: 600px) {

    .top {
        flex-direction: row;
        flex-wrap: nowrap;
        height: 10vh;
    }

    .TagLine {
        display: flex;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sticky-div {
    position: sticky;
    top: 0;
}

#mainSearchInputField {
    border-radius: 10px;
    padding: 4px;
    border-color: #a8caff;
}

.top {
    background: grey;
    position: relative;
    display: flex;
}

.content {
    display: flex;
    flex-wrap: wrap;
    background-color: #cedffa;
    justify-content: space-evenly;
    align-items: center;
}

.middle {
    flex: 1;
    background-image: linear-gradient(180deg, #ae9d7c, white);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    /*height: 5vh;*/
    height: auto;
}

.Logo {
    background-color: #fafad2;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoPic {
    padding-top: 10px;
    padding-left: 2px;
    border: 0;
    float: left;
}

.TagLine {
    background-color: lightgoldenrodyellow;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.login-form-container {
    max-width: 100%;
    margin: auto;
    padding: 1em;
    display: none;
    justify-content: center;
    background-color: #fffcf5;
}

#user-info {
    margin: 20px;
    color: darkgreen;
    font-family: "Architects Daughter", serif;
    font-size: large;
}

.Login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginInput {
    padding: 4px;
    border-color: orange;
}

/*.card {*/
/*    background-color: white;*/
/*    height: 400px;*/
/*    width: 300px;*/
/*    margin: 50px;*/
/*    box-shadow: black 10px 10px 10px;*/
/*    padding-top: 100px;*/
/*}*/

.cardUserHeader {
    display: flex;
    justify-content: center;
    margin: 4px;
    font-family: "Architects Daughter", serif;
    color: #686767;
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
}

.cardh2 {
    display: flex;
    justify-content: center;
    margin: 4px;
    font-family: "Architects Daughter", serif;
}

.resp {
    /*display: flex;*/
    /*justify-content: center;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}

.cardRecipe {
    display: flex;
    justify-content: center;
    margin: 4px;
    height: 120px;
    width: 100%;
    min-width: 100%;
    min-height: 120px;
    max-width: 100%;
    max-height: 50%;
    /*overflow:scroll;*/
    /*background-color: #fafad2;*/
    /*background-color: #fffff0;*/
    font-family: "Architects Daughter", serif;
    font-size: larger;
    padding: 5px;
    background-color: #fffcf5;
    background-image:
    linear-gradient(#e6e6e6 .1em, transparent .1em);
    background-size: 100% 1.2em;
}

.cardButton {
    border-color: #a8caff;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #cedffa;
    padding: 5px;
}

.login-form-container, .add-user-form-container, .post-container, .modify-container {
    /*background-color: #cedffa;*/
}

.cardButton:hover {
    background-color: #a8caff;
    border-color: #80b1ff;
}

.googleFontText {
    font-size: large;
    font-family: "Architects Daughter", serif;
    text-align: center;
    text-transform: uppercase;
    color: #454545;
}

.submitButton {
    border-color: #a8caff;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #cedffa;
    padding: 5px;
}

#myButton {
    border-color: #a8caff;
    background-color: #cedffa;
    padding: 5px;
    margin-right: 20px;
}

.submitButton:hover, #myButton:hover {
    background-color: #a8caff;
    border-color: #80b1ff;
}

.roundEdge {
    border-radius: 8px;
    /*border: 1px solid #ccc;*/
    padding: 1em;
    box-sizing: border-box;
    background-color: #fafad2;
    border: 3px solid #d1d1a7;
    background-size: 25px 25px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    /*background-color: #cedffa;*/
    justify-content: space-evenly;
    align-items: center;
    /*background-color: #ffffff;*/
    /*background-color: #ffeeb0;*/
    /*background-color: #ffeba1;*/
    /*background-color: #fffcf5;*/
    /*background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),*/
    /*linear-gradient(#e6e6e6 .1em, transparent .1em);*/
    /*background-size: 100% 1.2em;*/
}

.filler {
    height: 5000px;
}

card {
    background-color: white;
    height: 700px;
    width: 300px;
    margin: 50px;
    box-shadow: black 10px 10px 10px;
    padding-top: 100px;
}

@media screen and (max-width: 767px) {
    card {
        height: 90vh;
        width: 300px;
        margin: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    card {
        width: 600px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    card {
        width: 600px;
    }
}

@media screen and (min-width: 1200px) {
    card {
        width: 600px;
    }
}

/*@media (max-width: 900px) {*/
/*    card {*/
/*        width: 80vw;*/
/*    }*/
/*}*/

/*@media (min-width: 900px) and (max-width: 1300px) {*/
/*    card {*/
/*        width: 60vw;*/
/*    }*/
/*}*/

#MyPostsHeader, #SearchResultsHeader {
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: lavender;
}

#MyPostsHeading, #SearchResultsHeading {
    width: fit-content;
    margin: auto;
    font-family: "Arial", serif;
    color: dimgrey;
}

h3 {
    display: flex;
    justify-content: center;
}

#newPostTitle, #newPostText, #newPostFile, #uploadButton, .cancel-post {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 300px;
    margin: .5em 0;
}

#character-count-add-post, #character-count-modify-post {
    display: flex;
    justify-content: flex-end;
    font-family: Verdana;
}

#addUserUsername, #addUserEmail, #addUserPassword, #addUserButton, #addUserCancel, #loginButton, #loginCancel {
    display: inline-block;
    width: 100%;
    margin: .5em 0;
}

#addUserButton:hover, #loginButton:hover, #uploadButton:hover {
    background-color: #52b35f;
    border-color: #002900;
}

#loginCancel:hover, #addUserCancel:hover, .cancel-post:hover {
    background-color: #c73636;
    border-color: #8c0101;
}

#loginEmail, #loginPassword {
    display: inline-block;
    width: 100%;
    margin: .5em 0;
}

#modifyTitle, #modifyText, #modifySave, .cancel-modify-post {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 300px;
    margin: .5em 0;
}

#newPostCheckbox, #modifyPostCheckbox {
    display: inline-block;
    margin: 10px;
}

#newPostCheckboxLabel, #modifyPostCheckboxLabel {
    font-size: large;
    font-family: Verdana;
}

.add-user-form-container {
    max-width: 100em;
    margin: auto;
    padding: 1em;
    display: none;
    justify-content: center;
}

.post-container {
    max-width: 100em;
    margin: auto;
    padding: 1em;
    display: none;
    justify-content: center;
}

.modify-container {
    max-width: 100em;
    margin: auto;
    padding: 1em;
    display: none;
    justify-content: center;
}

.form-wrapper {
    height: auto;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 1em;
    box-sizing: border-box;
    /*background-color: #c8f7fa;*/
    background-color: lightgoldenrodyellow;
}

/*This simply changes the background color of the create user from*/
#form-wrapper-add-user, #loginWrapper {
    /*background-color: #ffc966;*/
    background-color: lightgoldenrodyellow;
}

#form-wrapper-modify-post {
    /*background-color: #E8E8E8;*/
    background-color: lightgoldenrodyellow;
}

input[type=checkbox] {
    /*transform: scale(2);*/
    height: 30px;
    width: 30px;
}

#uploadButton, #addUserButton, #modifySave, #loginButton {
    border: 2px solid #008000;
    background-color: #66ff7a;
    font-weight: bolder;
}

#cancel-form {
    display: flex;
    justify-content: center;
}

.cancel-post, #addUserCancel, .cancel-modify-post, #loginCancel {
    height: auto;
    padding: 1em;
    justify-content: center;
    border-color: #ff0000;
    background-color: #ff6666;
    font-weight: bolder;
    border-radius: 8px;
}

/*Changes the background color of "choose file" to white*/
input[type="file" i] {
    background-color: white;
}

.light-border {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 1em;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-wrap: wrap;
    /*background-color: #cedffa;*/
    justify-content: space-evenly;
    align-items: center;
    background-color: #fffcf5;
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#e6e6e6 .1em, transparent .1em);
    background-size: 100% 1.2em;
}

.filler {
    height: 5px;
}


.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}

.fa-thumbs-up {
    color: blue;
}

.fa-thumbs-down {
    color: red;
}

.fa:hover {
    transform: scale(2);
}

/* image modal classes */
.hide {
    display: none !important;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
}

.modal img {
    display: block;
    height: 80vh;
    margin: auto;
    padding-top: 10vh;
}

.close {
    position: absolute;
    top: 1em;
    right: 1em;
    color: #fff;
    text-shadow: #000;
    font-size: 2em;
}

.tooltiptext {
    visibility: hidden;
}

.cardImage img:hover {
    cursor: pointer;
}